django
djangorestframework
django-cors-headers
coreapi
setuptools
drf-yasg

#REACT
#npm i react-router-dom react-hot-toast axios react-hook-form
#npm install bootstrap-icons
#npm install tailwindcss
#npx tailwindcss init
#npm install postcss autoprefixer