django
djangorestframework
django-cors-headers
coreapi
setuptools
drf-yasg
#pip install djoser djangorestframework-simplejwt


#REACT
#npm i react-router-dom react-hot-toast axios react-hook-form
#npm install bootstrap-icons
#npm install tailwindcss
#npx tailwindcss init
#npm install postcss autoprefixer
#npm install axios
#npm install prop-types